body {
  margin: 0;
  padding: 0 10px;
  background: #e4e4e4;
}

html * {
  font-family: 'Neucha', cursive;
}

header {
  text-align: center;
}

header a {
  margin: 0;
  font-family: 'Londrina Outline', cursive;
  color: #03d7cb;
  text-decoration: none;
}

header h1 {
  font-size: 70px;
}

.modal-header {
  margin-left: 10px;
}

#add-pic-btn, #close-modal-btn {
  background: #7f7af4;
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
  height: 40px;
  width: 40px;
  border: 0px;
  font-weight: lighter;
  font-size: 28px;
  border-radius: 50%;
}

#add-pic-btn span {
  position: relative;
  font-family: sans-serif;
  top: -9px;
}

#close-modal-btn {
  background: none;
}

#close-modal-btn span {
  position: relative;
  font-family: sans-serif;
  color: black;
  top: -9px;
}

.homepage {
  height: 100vh;
  text-align: center;
}

.homepage img {
  width: 800px;
}

.pictures-container {
  display: flex;
  flex-wrap: wrap;
}

.pictures-container div {
  background: white;
  padding: 10px 10px 40px 10px;
  margin: 10px;
  border: 1px solid #f4f4f4;
  box-shadow: 2px 2px 5px gray;
}

.pictures-container div:hover {
  border-color: black;
}

.pictures-container img {
  height: 160px;
  /*margin: 10px;*/
}

.show-pic {
  text-align: center;
  background: white;
  width: 800px;
  border: 1px solid lightgray;
  margin: 40px auto;
  padding: 30px;
  box-shadow: 2px 2px 5px gray;
}

.show-pic img {
  width: 100%;
}

form {
  margin: 30px auto;
}

textarea, input, button {
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

textarea:focus, input:focus, button:focus {
  outline: none;
}

textarea {
  width: 500px;
  height: 60px;
  resize: none;
}

input {
  width: 500px;
}

button {
  border: 0px;
  width: 523px;
  color: white;
  background: #f67467;
  cursor: pointer;
}

.captions-container {
  text-align: left;
}

.captions-container > div {
  border-bottom: 1px solid lightgray;
  padding-top: 10px;
}

p {
  color: gray;
  text-align: right;
}

.content {
  text-align: left;
  color: black;
  font-size: 25px;
}
